.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 48px 48px;
  margin: 0;
}

@media (min-width:321px) and (max-width:768px) {
  .header {
    padding: 28px 24px 48px;
  }
}

@media (max-width:320px) {
  .header {
    padding: 16px 16px 48px;
  }
}