.intro__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.63;
  margin: 0 0 33px;
  padding: 0;
  width: 100%;
}

@media (min-width:768px) {
  .intro__text {
      width: 98%;
    }
}

@media (min-width:1024px) {
  .intro__text {
      width: 74%;
    }
}
    
@media (min-width:1280px) {
  .intro__text {
      width: 70%;
    }
}