.place {
  display:flex;
  flex-direction: column;
  margin: 0 0 50px;
  padding: 0;
}

@media (min-width: 768px) {
  .place {
    display: grid;
    grid-template-columns: 1fr 1.03fr;
    grid-template-rows: min-content 3.7fr;
    gap: 48px 28px;
    margin: 0 0 73px;
  }
}

@media (min-width: 1024px) {
  .place {
    display: grid;
    grid-template-columns: 1fr 1.035fr;
    grid-template-rows: min-content 2.9fr;
    gap: 48px 32px;
    margin: 0 0 80px;
  }
}

@media (min-width: 1280px) {
  .place {
    display: grid;
    grid-template-columns: 1fr 1.05fr;
    grid-template-rows: min-content 3.03fr;
    gap: 48px 40px;
    margin: 0 0 80px;
  }
}